.git
.gitignore

.env
.venv/
venv/
env/
ENV/

**/__pycache__/
**/*.py[cod]
**/*.log

.idea/
.vscode/

ecotraffic/conf/local/**
!ecotraffic/conf/local/.gitkeep

ecotraffic/data/**
!ecotraffic/data/**/.gitkeep

ecotraffic/docs/_build/
ecotraffic/info.log

airflow_logs/
airflow_plugins/
