# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnement virtuel
.venv/
venv/

# Airflow
airflow_home/

# Logs
*.log

# Local presentation/report deliverables
docs/
scripts/generate_soutenance_ppt.py

# Env variables (IMPORTANT)
.env

# OS
.DS_Store
Thumbs.db
